:root {
    --color-theme1: #de0000;
    --color-theme2: #fea740;

}

* {
    box-sizing: border-box;
}

img, video, svg {
   max-width: 100%;
   height: auto; 
}

.img-logo {
    max-width: 100px;
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 16px; /*H G-D B*/
}

main {
    min-height: 80vh;
}

/* ANCHOR SIZING */
.mw-1320 {
    max-width: 1320px;
}

/* ANCHOR SPACING */

.m-auto {
    margin: auto;
}

.p-1 {
    padding: 16px;
}

/* ANCHOR FLEX CONTAINER */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* ANCHOR FLEX ITEMS */

.f-1-300 {
    flex: 1 1 300px;
}

/* ANCHOR TYPO */

/* ANCHOR COMPONENTS */

.btn {
    background-color: #333;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 5px;
    transition: 300ms;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
}

.btn-theme1 {
    background-color: var(--color-theme1);
    border: 2px solid transparent;
    color: #fff;
    border-radius: 5px;
    transition: 300ms;
}

.btn-theme1:hover {
    background-color: transparent;
    border: 2px solid var(--color-theme1);
    color: var(--color-theme1);
}
