@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Color variables: https://getbootstrap.com/docs/5.3/customize/color/*/
    $title1: #000000;
    $title2: #666666;
    $title3: #FFFFFF;
    $title4: #683D68;

    $paragraph-primary: #FFFFFF;
    $paragraph-secondary: #000000;

    $background-primary: #FFFFFF;
    $background-secondary: #EEEEEE;
    $background-footer: #272727;
    $button: #EB7366;

/* Custom fonts*/
@font-face {
    font-family: 'Helvetica Condensed Bold';
    src: url(fonts/helvetica_condensed_bold.ttf);
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url(fonts/HelveticaNeue-Regular.ttf);
}
    
/* Custom CSS here */


// .header-content {
//     display: flex;
//     margin-top: 20px;
//     justify-content: space-evenly;
//     white-space: nowrap;
//     margin-left: 5%;
//     margin-right: 5%;
//     height: 133px;
// }

.header{
    background-color: white;
    font-size: 22px;
    font-family: 'Helvetica Neue Regular';
}

.header-logo {
    max-width: 157px;
    max-height: 81px;
    min-width: 157px;
    min-height: 81px;
}

.header-title {
    font-size: 25px;

    .foad {
        font-family: 'Helvetica Condensed Bold';
    }
    .foad-second {
    font-family: 'Helvetica Neue Regular';
    }
}

.header-search-bar {
    min-width: 100px;
    max-width: 300px;
    box-shadow: inset 0px 4px 11px rgba(0, 0, 0, 0.08);
    height: fit-content;
    padding-left: 40px;
    border: 1px solid #555;
    display: block;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.nav-button {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: $title1;
    font-weight: 500;
    // height: fit-content;
}

.foad {
    font-weight: bolder;
    color: #FEA740;

    .foad-first {
        color: #DE0000;
    }
}

.sign-in {
    color: white;
    background-color: $button;
}

.burger {
    width: 50px;
    height: fit-content;
    align-self: center;
    margin-right: 20px;
}

@media screen and (max-width: 1174px) {
    .foad-second {
        display: none;
    }    
}

@media screen and (min-width: 993px) {
    // .header-burger {
    //     visibility: collapse;
    // }
}

@media screen and (max-width: 992px) {
    .header-navbar {
        visibility: collapse;
    }
    .header-search-bar {
        visibility: collapse;
    }
}

@media screen and (max-width: 480px) {

}
